* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#top {
  display: flex;
  justify-content: center;
}

#form-container {
  display: flex;
  justify-content: center;
}

#form-table {
  margin: 10px;
  padding: 20px;
}

tr {
  padding: 10px;
}

td {
  padding: 10px;
}

span {
  font-weight: bolder;
}

#save-container {
  display: flex;
  justify-content: center;
}

#result-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

@media screen and (max-width: 630px) {
  #result-container {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    font-size: 10px;
  }
  tr {
    padding: 0%;
  }
  
  td {
    padding: 0%;
  }

  .form-row {
    padding: 10px;
  }
  
  .form-column {
    padding: 10px;
  }
}
